.donald{font-size: 5rem;
font-famiy:Sofadi;
font-weight:700;
color:purple;
background-color:rgb(225,215,0);
text-align:center;
margin:0px;
height:100vh;
}
.donaldTwo{font-size: 5rem;
height:100vh;
background-color:red;
margin:10px;
text-align:center;
border: 30px solid blue
}


 padding:70px;
border:10px solid blue;